@import "tailwindcss";

@font-face {
  font-family: "Long";
  src: url("/fonts/long.woff");
}

@font-face {
  font-family: "Round";
  src: url("/fonts/round.woff");
}

@font-face {
  font-family: "Round Bold";
  font-weight: bold;
  src: url("/fonts/round-bold.woff");
}

@theme {
  --font-sans: "Round", sans-serif;
  --font-long: "Long", sans-serif;
  --font-round-bold: "Round Bold", sans-serif;
  --color-dark: #111117;
  --color-yellow: #fff9cb;
  --color-pink-light: #ffb0c4;
  --color-pink: rgb(223, 58, 147);
  --color-blue: #1e2d52;
  --color-purple-pink: #5f3d6b;
  --color-purple: #6a5669;
  --color-purple-dark: #36364e;
  --breakpoint-sm: 40rem;
  --breakpoint-xs: 28rem;
  --breakpoint-3xl: 120rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
  user-select: none;
  -webkit-user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  touch-callout: none;
  -webkit-touch-callout: none;
}

body {
  cursor: wait;
  font-family: "Round", sans-serif;
  background-color: #111117;
  color: white;
  color-scheme: dark;
  overscroll-behavior: none;
}

.height-svh {
  height: 100vh;
  height: 100svh;
}

canvas {
  width: 100% !important;
  height: 100vh !important;
  height: 100svh !important;
  object-fit: cover;
  transform-origin: center center;
}

.gradient-title {
  @apply text-pink;
}

@supports (
  (-webkit-background-clip: text) or (background-clip: text) or
    (-moz-background-clip: text) or (-webkit-text-fill-color: transparent)
) {
  .gradient-title {
    background: -webkit-radial-gradient(
      circle at 50% 90%,
      rgb(255, 210, 123) 0%,
      rgb(223, 58, 147) 50%,
      rgb(92, 22, 99) 90%,
      rgba(32, 31, 66, 0) 100%
    );
    background: radial-gradient(
      circle at 50% 90%,
      rgb(255, 210, 123) 0%,
      rgb(223, 58, 147) 50%,
      rgb(92, 22, 99) 90%,
      rgba(32, 31, 66, 0) 100%
    );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .col-center {
    @apply flex flex-col justify-center items-center;
  }
  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .abs-full {
    @apply absolute top-0 left-0 size-full;
  }
}

@layer components {
  .hero-image {
    @apply size-full object-cover;
  }
  .post-card {
    @apply relative flex justify-center items-center pb-80 shadow-2xl;

    .animated-gradient-bg {
      @apply absolute w-full md:h-[200vh] h-[220vh] left-0 xl:-bottom-1/2 md:-bottom-5/6;
    }

    .post-card-wrapper {
      @apply xl:mx-56 md:mx-12 mx-5 xl:h-[85vh] md:h-[40vh] h-[30vh] w-full flex justify-center items-center overflow-hidden relative;

      video {
        @apply w-full h-full 2xl:scale-x-105 object-cover;
      }

      img {
        @apply absolute z-10 w-full h-full;
      }

      button {
        @apply rounded-full bg-white absolute left-1/2 -translate-x-1/2 md:bottom-16 -bottom-28 md:w-fit w-2/3 px-5 md:px-7 py-4 text-lg;
      }
    }
  }
  .final {
    @apply relative h-dvh overflow-hidden;

    .final-content {
      @apply scale-110;
    }
  }

  .final-message {
    @apply absolute w-full h-dvh overflow-hidden z-50 opacity-100;
  }
}

.black-gradient-bg {
  background: linear-gradient(
    223.17deg,
    rgb(28, 24, 41) 0%,
    rgb(27, 24, 40) 8.61%,
    rgb(25, 23, 36) 17.21%,
    rgb(22, 21, 32) 25.82%,
    rgb(20, 19, 28) 34.42%,
    rgb(18, 18, 24) 43.03%,
    rgb(17, 17, 23) 51.63%
  );
}

.lucia-content h1,
.lucia-content h2 {
  background-image: radial-gradient(
    at 80% 40%,
    rgb(252, 82, 67) 0%,
    rgb(223, 58, 147) 50%,
    transparent 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mask-wrapper {
  mask-image: url("/images/big-hero-text.svg");
  mask-repeat: no-repeat;
}

.animated-gradient-bg {
  background: linear-gradient(135deg, #1e2a52 0%, #6e4b91 100%);
}

.jon-content {
  background: radial-gradient(ellipse, #111117 20%, transparent 70%);
}

.lucia-life-content {
  background: radial-gradient(ellipse, #111117 20%, transparent 70%);
}
